<ion-header>

    <ion-navbar color="ramblrtheme">
        <ion-title>Welcome to Ramblr</ion-title>
    </ion-navbar>

</ion-header>

<ion-content padding>
    <h2></h2>

    <ion-list>
        <ion-item>
            <button ion-button round (click)="loginToGoogle()" *ngIf="!loggedIn">
                Login with Google&nbsp;
                <ion-icon name="logo-google"></ion-icon>
            </button>
        </ion-item>
        <ion-item>
            <button ion-button round (click)="registration()" *ngIf="!loggedIn">
                Sign up with email
            </button>
        </ion-item>
        <ion-item>
            <button ion-button round (click)="emailLogin()" *ngIf="!loggedIn">
                Login with email
            </button>
        </ion-item>
    </ion-list>
</ion-content>
