page-home {
    body {
        font-family: 'Open Sans Condensed', sans-serif;
    }
.row{
   text-align: center;
    margin: 0 auto;
    color: #ff69b4;
    }
}
.textstyle {
    color: #ff69b4;
    text-align: center;
}
#pic {
    width: 50%;
   text-align: center;

}
.test {
    align-content: center;
    text-align: center;
}

