<ion-header>



</ion-header>

<ion-content padding>
    <h2>Ramblr: We like full sentences</h2>
    <img src="/MasterChris.png">
    <p>blah</p>


    <div id="buttonx">
    <ion-list>
        <ion-item no-lines>


            <div class="row text-center">
            <button class="button" ion-button round (click)="loginToGoogle()" *ngIf="!loggedIn">
                Login with Google&nbsp;
                <ion-icon name="logo-google"></ion-icon>
            </button>
            </div>
            </ion-item>

        <ion-item no-lines>
            <div class="row text-center">
            <button ion-button round (click)="registration()" *ngIf="!loggedIn">
                Sign up with email
            </button>
            </div>
        </ion-item>

        <ion-item no-items>
            <div class="row text-center">
            <button ion-button round (click)="emailLogin()" *ngIf="!loggedIn">
                Login with email
            </button>
            </div>

        </ion-item>
    </ion-list>


            </div>
</ion-content>
