<ion-header>
    <ion-navbar color="ramblrtheme">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Feeding time!
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content class="content">

    <ion-card *ngFor="let post of feedArray" (click)="showPost()" color="light">
        <ion-item color="card">
            <ion-avatar item-left>
                <img src="{{post.photo}}" *ngIf="post.photo">
                <ion-icon name="logo-angular" *ngIf="!post.photo"></ion-icon>
            </ion-avatar>
            <h2>{{post.name}}</h2>
            <div>{{post.time | date:"medium"}}</div>
        </ion-item>

        <ion-card-content>
            <p>{{post.post}}</p>
        </ion-card-content>
    </ion-card>

    <ion-fab right bottom>
        <button ion-fab (click)="newPost()">
            <ion-icon name="create"></ion-icon>
        </button>
    </ion-fab>
</ion-content>
