<ion-header>
    <ion-navbar color="ramblrtheme">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Friends
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar name="input" placeholder="Search Friends" color="ramblrtheme" (ionInput)="getItems($event)" [showCancelButton]="shouldShowCancel" [(ngModel)]="input" ngDefaultControl></ion-searchbar>
    <ion-list *ngIf="items">

        <ion-list-header no-lines *ngIf="items.length != 0">Your Friends</ion-list-header>

        <button ion-item *ngFor="let item of items" (click)="goToProfile(item.uid, true)">
            {{item.name}}
        </button>

        <p *ngIf="!items">Awww, you have no friends :(</p>

        <ion-list-header no-lines>Potential Friends</ion-list-header>

        <button ion-item *ngFor="let item of users" (click)="goToProfile(item.uid, false)">
            {{item.name}}
        </button>

    </ion-list>

</ion-content>
