<ion-header>
    <ion-navbar color="ramblrtheme">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Friends
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar placeholder="Search Friends" color="ramblrtheme" (ionInput)="getItems($event)" [showCancelButton]="shouldShowCancel"></ion-searchbar>
    <ion-list *ngIf="friends">
        <ion-list-header no-lines>Your Friends</ion-list-header>
        <button ion-item *ngFor="let item of friends" (click)="goToProfile(item.uid, true)">
            {{item.name}}
        </button>
    </ion-list>

    <p *ngIf="!friends">Awww, you have no friends :(</p>

    <ion-list>
        <ion-list-header no-lines> Potential friends </ion-list-header>
        <button ion-item *ngFor="let item of users" (click)="goToProfile(item.uid, false)">
            {{item.name}}
        </button>
    </ion-list>


</ion-content>
