<ion-header>
    <ion-navbar color="ramblrtheme">
        <button ion-button menuToggle>
            <ion-icon name="menu"></ion-icon>
        </button>
        <ion-title>
            Friends
        </ion-title>
    </ion-navbar>
</ion-header>

<ion-content padding>
    <ion-searchbar placeholder="Search Friends" color="ramblrtheme" (ionInput)="getItems($event)" [showCancelButton]="shouldShowCancel"></ion-searchbar>
    <ion-list *ngIf="items">
        <!--<ion-item *ngFor="let item of items">-->
            <!--{{ item.name }}-->
        <!--</ion-item>-->
        <button ion-item *ngFor="let item of items" (click)="goToProfile(item.uid.uid)">
            {{item.name}}
            {{item}}
        </button>
        <!--<ion-item *ngIf="items.length == 0">-->
            <!--User not found-->
        <!--</ion-item>-->
    </ion-list>
    <p *ngIf="!items">Awww, you have no friends :(</p>
</ion-content>
